<div class="container " style="width: 500px;">
  <form (ngSubmit)="submitForm()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        [(ngModel)]="loginData.username"
        required
        minlength="10"
        #userName ="ngModel"
      />
      @if(userName.touched && userName.dirty){
          @if(userName.getError('required')){
            <span class="text-danger text-opacity-75">this username is required</span>
          }
          @if(userName.getError('minlength')){
            <span class="text-danger text-opacity-75">this username length should be 10 characters at minimum</span>
          }
      }

    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        [(ngModel)]="loginData.password"
        required
        minlength="10"
        #password="ngModel"
      />
        @if(password.touched && password.dirty){
          @if(password.getError('required')){
            <span class="text-danger text-opacity-75">this password is required</span>
          }
          @if(password.getError('minlength')){
            <span class="text-danger text-opacity-75">this password length should be 10 characters at minimum</span>
          }
      }
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
      Login
    </button>
  </form>
</div>
